<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TVE REST ADMIN Test Suite" verbose="1" parallel="false">
	<!-- TRANSFORMERS -->
	<test name="Transformers Test">
		<classes>
			<class name="ru.cti.tve.rest.transformer.AgeRatingTransformerTest" />
			<class name="ru.cti.tve.rest.transformer.AgeRatingSystemTransformerTest" />
		</classes>
	</test>
	
</suite>